# Might contain sensitive information
*.db
database_export.txt
db_files/db.sql
db_files/inserts.sql
db_files/test.sql
db_files/views.sql
*.bak
*.tmp
*.lock
db.properties
ClassFiles

# os stuff
.DS_Store
Thumbs.db

# runtime stuff
user_info.json
options.json
/visuals/schemaspy

# Ignore normal maven stuff
target/
*.class
*.war
*.ear

# ide things
.idea/
.vscode/
*.iml

# if the compiler doesnt complain push straight to main
*.log

# crashout logs
hs_err_pid*.log
replay_pid*.log

# backup files
*~
*.swp
*.swo

# half of this stuff isn't in my project but is in the template